<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bpnet - games</title>
    <link rel="icon" href="/images/home-favicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/components.css">
    <link rel="stylesheet" href="/styles/games.css">
    <script src="/scripts/components.js"></script>
</head>

<body>
    <% for (var i=0; i <data.length; i++ ) { %>
        <simple-button label="paradisecafe" url="paradisecafe">
        </simple-button>
        <!-- <simple-button label="<%= data[i].name %>" url="<%= data[i].url %>">
        </simple-button> -->
        <% } %>
</body>

</html>