:root {
    --color-a: #FFC80B;
    --color-b: #053160;
    --color-base: #021b36;
}

html {
    background-color: var(--color-b);
}
body {
    display: grid;
    grid-template-areas: 
    'info'
    'music'
    'menu';
    grid-template-columns: 100%;
    grid-template-rows: var(--button-height) auto var(--button-height);
    padding: 0;
    overflow: hidden;

}

#info-container {
    display: block;
    grid-area: info;
}
.button-container {
    display: flex;
    position: relative;
    justify-content: stretch;
}
#info-button {
    position: absolute;
    z-index: 9999;
    width: calc(100% - calc(var(--padding) * 2));

}
#info-content {
    background-color: var(--color-a);
    position: absolute;
    inset: 0;
    bottom: var(--button-height);
    transform: translateY(-100%);
    transition: transform var(--speed) ease-in-out;
    padding: var(--padding);
    padding-top: calc(var(--button-height) + var(--padding));
}

#info-content label {
    color: var(--color-b);
    font-size: var(--s-font-size);
    font-weight: bold;
    margin-bottom: var(--padding);
}

#music-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% calc(var(--button-height) / 2) auto;
    grid-template-areas: 
    'controls'
    'scrubb'
    'volume';
    grid-area: music;
    transition: transform var(--speed) ease-in-out, opacity var(--speed) ease-in-out;
}

#music-container icon-button .icon-container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

#controls-container {
    display: grid;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 100%;
    grid-template-areas:
    'previous action next';
    align-items: stretch;
    justify-content: center;
}

#previous-button {
    grid-area: previous;
    height: auto;
}
#action-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: action;
    height: auto;
}
#play-button, #pause-button, #loading-icon {
    height: auto;
}
.action-button {
    position: absolute;
    display: none;
}
#next-button {
    grid-area: next;
    height: auto;
}

#menu-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    grid-area: menu;
    z-index: 9999;
}

.shrink {
    opacity: 0.5;
    transform: scale3d(0.8, 0.8, 0.8)
}

.grow {
    opacity: 1;
    transform: scale3d(1,1,1);
}