simple-button {
    display: flex;
    align-items: center;
    min-height: var(--button-height);
    height: var(--button-height);
    padding: 0 var(--padding);
    flex: 1;
    cursor: pointer;
}
simple-button label {
    text-align: center;
}

icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-height);
    padding: 0 var(--padding);
    flex: 1;
    cursor: pointer;
}
icon-button .icon-container {
    width: var(--button-height);
    height: var(--button-height);
    justify-content: flex-end;
}

toggle-button {
    display: flex;
    justify-content: space-between;
    height: var(--button-height);
    cursor: pointer;
    opacity: 0;
    padding: 0 var(--padding);
    transition: opacity var(--speed) in-out;
}
toggle-button label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
toggle-button:hover label, 
toggle-button:hover svg, 
icon-button:hover label, 
icon-button:hover svg, 
simple-button:hover label {
    transform: scale(1.05);
}
toggle-button:active label, 
toggle-button:active svg, 
icon-button:active label, 
icon-button:active svg, 
simple-button:active label {
    transform: scale(0.95);
}
toggle-button .icons-container {
    width: var(--button-height);
    height: var(--button-height);
    justify-content: flex-end;
}

expandable-list ul {
    height: 0;
    padding-left: var(--padding);
    background-color: var(--color-overlay);
    transition: height var(--speed) ease-in-out;
    overflow: hidden;
}

select-group .select-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

select-group label {
    font-weight: 100;
    text-transform: capitalize;
    font-size: var(--s-font-size);
    text-align: right;
}

modal-window {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    inset: 0;
    transform: scale3d(0,0,0);
    visibility: hidden;
    transition: transform var(--speed) ease-in-out;
    background-color: var(--color-a);

}
modal-window .modal-content {
    display: grid;
    min-width: 70%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto var(--button-height);
    grid-template-areas: 
    'title'
    'message'
    'actions';
    background-color: var(--color-a);
    padding: var(--padding);
    opacity: 0;

}
modal-window .title {
    color: var(--color-b);
    grid-area: title;
    font-weight: bold;
}
modal-window .message {
    color: var(--color-b);
    font-size: var(--s-font-size);
    grid-area: message;
}
modal-window .actions-container {
    gap: var(--padding);
    grid-area: actions;
}
modal-window simple-button {
    justify-content: center;
}

.icons-container, .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-container svg {
    display: none;
}