<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bpnet 404 - not found</title>

    <style>
        :root {

            --color-a: #dddddd;
            --color-b: #2e2c2c;

            --color-overlay: #0000008a;

            --max-width: 800px;
            --button-height: 92px;


            --padding: 20px;


            --l-font-size: 6vw;
            --m-font-size: 4rem;
            --s-font-size: 2.5rem;
            --xs-font-size: 1.6rem;
            --font-family: Helvetica, Arial, sans-serif;

            --speed: 0.20s;
        }

        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        *:active {
            outline: none;
        }

        *:focus {
            outline: none;
        }

        ::-webkit-scrollbar {
            width: 0px;
        }

        ::-webkit-scrollbar-thumb,
        :-webkit-scrollbar-thumb:hover {
            background: transparent;
        }

        html,
        body {
            position: relative;
            display: flex;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-b);
            font-family: var(--font-family);
            overflow: auto;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: var(--padding);
            height: auto;
            max-width: var(--max-width);
            margin: 0 auto;
            opacity: 1;
            transition: background-color var(--speed) ease, opacity var(--speed) ease;
            background-color: transparent;
        }

        h2 {
            font-size: var(--l-font-size);
            color: var(--color-overlay);
        }

        button {
            width: auto;
            height: var(--button-height);
            max-height: var(--button-height);
            font-size: var(--s-font-size);
            color: var(--color-a);
            font-weight: 400;
            text-transform: uppercase;
            border: none;
            background-color: transparent;
            padding: 0 var(--padding);
            cursor: pointer;
            flex: 1;
            justify-self: flex-end;
        }

        label {
            pointer-events: none;
        }

        button:active label {
            transform: scale(0.9);
        }

        @media only screen and (max-width: 800px) {
            :root {
                --button-height: 64px;

                --l-font-size: 9vw;
                --m-font-size: 2.3rem;
                --s-font-size: 1.5rem;
                --xs-font-size: 1rem;

                --padding: 10px;
            }
        }
    </style>
</head>

<body>
    <svg width="100%" height="40%" viewBox="0 0 80 80" fill="var(--color-overlay)">
        <g>
            <path d="M -0.00310047,59.517365 V 5.517285 H 18.036388 v 26.997221 h 17.957746 v 27.002859 z" />
            <path d="m 43.993004,5.513251 v 54.00008 H 61.956388 V 32.513291 H 79.995876 V 5.513251 Z" />
        </g>
    </svg>
    <h2>Not found...</h2>
    <button onclick="window.location = '/'"><label>go home</label></button>
</body>

</html>